
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  :root{
    --primary-color:#0077b6;
    --secunddary-color:#36454f;
  }

  
  header {
    background: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  header img {
    width: 80px;
    display: block;
    margin: 0 auto 10px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  
  #confirmation {
    background: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: black;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .information-benefit {
    
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 7px #333;
  }
  
  .information-benefit p {
    font-size: 1rem;
    margin: 8px 0;
    color: #333;
  }
  
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    background: var(--primary-color);
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition:  0.3s ease-in-out;
    align-items: center;
  }
  
  main a{
    align-items: center;
    margin-left: 26%;
   }
  .btn:hover {
    background: darkgreen;
    transform: scale(1.05);
  }
  
  footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    .information-benefit {
        width: 100%;
    }
    
    h1 {
        font-size: 1.5rem;
    }
  }
  
  
  @media (max-width: 768px) {
    .membership-levels {
        flex-direction: column;
        align-items: center;
    }
  }
  
  
  footer {
    padding: 1px;
    background: var(--primary-color);
    color: white;
    text-align: center;
    margin: 1.3rem;
    font-size: 1.1rem;
   
  }
  
  @media (min-width: 764px) {
  
    body {
        max-width: 1200px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 1px auto;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        background: var(--primary-color);
      
    }
  
    header img {
        width: 70px;
        margin: 5px;
       
    }
  
    header span {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
    }
  
   
    nav {
        background-color: black;
      
        padding: 10px;
    }
      nav button {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
  
    nav ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }
  
    nav ul li a:hover {
        text-decoration: underline;
        transform: scale(1.2);
    }
  
    nav ul li a.active {
        background-color: #005fa3;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 8px 12px;
        text-decoration: none;
    }
     h2, h4 {
        text-align: center;
        font-size: 2rem; 
        color: black;
        width: 80%;
    }
    h1{
        text-align: center;
        font-size: 2.8rem; 
        background-color: var(--primary-color);
        color: #fff;
        width: 90%;
        border-radius: 7px;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
  }
  
  
  
  @media (max-width: 763px) {
    body {
        background-color: #f8f8f8;
        margin: 1px auto;
    }
  
   
    header {
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        background: var(--primary-color);
        padding: 10px;
      
    }
  
    header img {
        width: 50px;
        margin: 5px;
       
    }
  
    header span {
        font-size: 1.5rem;
        font-weight: 600;
    }
  
   
    nav {
        background: black;
     
        position: relative;
        padding: 10px;
    }
  
  
    #menuBtn {
        background: none;
        border: none;
        font-size: 24px;
        color: white;
        cursor: pointer;
        display: block;
        position: relative;
    }
  
  
    #menuBtn::before {
        content: "☰";
        font-size: 24px;
    }
  
    #menuBtn.open::before {
        content: "✖";
        font-size: 24px;
        background-color: #005fa3;
  
    }
  
   
  
    #menuBtn {
       
        border: none;
        font-size: 24px;
        color: white;
        background: none;
        cursor: pointer;
        display: block;
        position: relative;
    }
  
  
    #menuBtn::before {
        content: "☰";
        font-size: 24px;
    }
  
    #menuBtn.open::before {
        background-color: #005fa3;
        content: "✖";
        font-size: 24px;
      
  
    }
    #menu {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: black;
  color: #fff;
  }
    .show li {
        display: block;
    }
    #menu::before {
        content: "✖";
        font-size: 24px;
    }
    #menu.show::before {
        content: "☰";
        text-decoration: none;
    }
    .navigation a:hover,
    .navigation a:active {
  color: white;
  background-color: black;
  }
  
  
    nav ul {
        
        padding: 0;
        list-style: none;
        margin: 0;
        display: none;
        background: black;
        border-radius: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        top: 100%;
        width: 100%;
    }
  
   
    nav ul.show {
     
        width: 99%;
        position: static;
        display: block;
        padding: 10px 0;
    }
  
    nav ul li {
       
        text-align: center;
        padding: 10px;
    }
  
    nav ul li a {
        color: white;
        display: block;
        font-size: 18px;
        text-decoration: none;
        padding: 5px;
        transition: transform 0.3s ease-in-out;
    }
  
  
    nav ul li a.active {
        
        color: white;
        font-weight: bold;
        border-radius: 5px;
        background-color: var(--primary-color);
        padding: 8px 12px;
        text-decoration: none;
    }
  
    nav ul li a:hover {
        
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
      
    }
  
    nav ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        background:black;
        border-radius: 8px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
  
    nav ul.show {
        display: block;
        position: static;
        width: 100%;
        padding: 10px 0;
    }
     
    nav ul li {
        padding: 10px;
        text-align: center;
    }
  
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: block;
        padding: 5px;
    }
  
  
    nav ul li a.active {
        background-color: #005fa3;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 8px 12px;
        text-decoration: none;
    }
    
    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
  
    h1, h4 {
        text-align: center;
        padding: 10px;
        background: var(--primary-color);
        color: white;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 2rem;
  
    }
    h2 {
        text-align: center;
       
        
        color: black;
        border-radius: 8px;
        margin-bottom: 10px;
        width: 100%;
       
    }
    footer {
        font-size: 0.9rem;
    }
    
  
  }