@media (min-width: 660px) {
    
  header{
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }

  :root{
    --primary-color:#0077b6;
    --secunddary-color:#36454f;
    --terceary-color:#5a1218;
    --quater-color:#2b4b33;
  }
  header span {
    font-size: 2.5rem;
    color: #fff;
  
}
  body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    color:#fff;
    font-family: Roboto ,Arial ,sans-serif;

    
}
nav {
  padding: 10px;
  background-color: #000000;
 


}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav {
background-color: black;
display: flex;
padding: 10px;
}

nav ul {
justify-content: space-around;
list-style: none;
display: flex;


}

nav ul li a {
font-size: 20px;
text-decoration: none;
color: white;
transition: transform 0.3s;
display: inline-block;
margin: 2rem;


}
section p{
color: #000000;
}

nav ul li a:hover {

transform: scale(1.2);
transition: transform 0.3s ;

}

nav ul li a.active {
color: white;
background-color:var(--primary-color);
font-weight: bold;
padding: 8px 12px;
text-decoration: none;
border-radius: 5px;

}

#studies {
grid-column: 1/3;
}


#studies h2 {
text-align: center;
}



#studies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  }

#courseNames {
display: flex;
flex-wrap: wrap;
}

#courseNames div {
flex: 1 1 29%;
font-weight: bold;
min-width: 200px;
margin-bottom: 3px;
text-align: center;
border-radius: 8px;

}


#courseNames div:hover {
transform: scale(1.1);

}


.finished {
background: var(--quater-color);
color: white;
}


  

button {
flex: 1 1 25%;
min-width: 180px;
text-align: center;
border-radius: 5px;
padding: 16px;
background: var(--secunddary-color);
color: white;
border: none;
transition: 0.3s ;
}


.not-finished {
  background:var(--terceary-color);
  color: white;
  }
button:hover {
transform: scale(1.05);

}



.menu {
display: none;
}
nav ul li a {

color: white;
text-decoration: none;
display: inline-block;
transition: color 0.3s ;
}

nav ul li a:hover {
text-decoration: underline;
color: white;
display: flex;
transform: scale(1.1);

}

main {
display: grid;
grid-template-columns: 2fr 1fr;
gap: 20px;
padding: 30px;
background: white;
box-shadow: 0 0 7px #333;
}

main section img {
display: block;
border-radius: 10px;
width: 250px;
margin: 5px;

}
section {
display: flex;
border-radius: 10px;
align-items: center;
text-align: center;
background: #f8f8f8;
box-shadow: 0 0 7px #333;
flex-direction: column;
justify-content: center;
padding: 10px;



}
h1 {
font-size: 1.5rem;
text-align: left;
margin-bottom: 0px;
grid-column: 1/3;

}


  h1{
      display: flex;
      color: rgb(0, 0, 0);
      margin-top: 4%;
      text-align: center;
      margin-left: 10%;
     
    
    }
    h2 {
      text-align: center;
      padding: 10px;
      background: var(--primary-color);
      color: white;
      margin-bottom: 10px;
      width: 80%;
      border-radius: 8px;
  }


footer{
max-width: 100%;
margin: 1rem;
}
 
}
