*{
  margin: 0;
  padding: 0.1rem;
  box-sizing: border-box;
}
:root{
  --primary-color:#0077b6;
  --secunddary-color:#36454f;
  --terceary-color:#5a1218;
}
body {
  font-family: Roboto ,Arial ,sans-serif;

}
header{
  display: flex;
}
header img{
  width: 70px;
}

header, footer {
 
max-width: 90%;
margin: 0 auto;
}
header {
max-width: 100%;
background-color:var(--primary-color);

}
header span {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

main {
  display: grid;
  gap: 20px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 7px #333;
 
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
 
  text-align: center;
  flex-direction: column;

  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 7px #333;
 
}

main section img {
  display: block;
  margin: 0 auto;
  display: block;
  margin-left: 15%;
  width: 250px;
  margin: 5px;
  border-radius: 10px;

}
h1{
  display: flex;
  margin-left: 3%;
  color: white;;
  text-align: center;
  

}

h1 {
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary-color);
}

h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  width: 80%;

}

p{
  font-size: 20px;
  margin: 1rem; 
  padding:0rem;
 
}

footer  {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center ;
  color: #fff;
  background-color:var(--primary-color);
  
 
}

.card {
  border-radius: 10px;
  margin: 1rem;
  font-size: large;
  max-width: 50%;
  box-shadow: 0 0 7px #333;
 
 
  
}

.card img{
  width: 200px;
  padding: 10px;
 
}
#CoursesByu div {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 500;

}
#CoursesByu div:hover {
  transform: scale(1.1);

}

.Course {
  background: var(--primary-color);
  color: #fff;
}

.noincompled {
  background:var(--terceary-color);
  color: #ffffff;
}


@media (max-width: 760px) {

  nav {
        
      
    position: relative;
   background-color: #000000;
    padding: 10px;
}

#menu {
display: block;
font-size: 1rem;
font-weight: 700;
text-decoration: none;
padding: 0.5rem 0.75rem;
background-color: black;
color: #fff;
}
.show li {
    display: block;
}
#menu::before {
    content: "✖";
    font-size: 24px;
}
#menu.show::before {
    content: "☰";
    text-decoration: none;
}
.navigation a:hover,
.navigation a:active {
color: white;
background-color: black;
}


nav ul {
    
    padding: 0;
    list-style: none;
    margin: 0;
    display: none;
    background: black;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 0;
    top: 100%;
    width: 100%;
}


nav ul.show {
 
    width: 99%;
    position: static;
    display: block;
    padding: 10px 0;
}

nav ul li {
   
    text-align: center;
    padding: 10px;
}

nav ul li a {
    color: white;
    display: block;
    transition: transform 0.3s ;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
  
}

nav ul li a:hover {
    
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;

}

nav ul li a.active {
    
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 8px 12px;
    text-decoration: none;
}


}


h2{
  margin-left: 15%;
 
}
button {
  flex: 1 1 25%;
  min-width: 180px;
  padding: 15px;
  text-align: center;
  border: none;
  background: var(--secunddary-color);
  color: white;
  border-radius: 5px;
  transition: 0.3s ;
  cursor: pointer;

  

}

button:hover {
  background: var(--secunddary-color);
  transform: scale(1.05);
  color: black;
}

.Course {
background:var(--primary-color);
color: #fff;
}

.Course-incompled {
background:var(--terceary-color);
color: #ffffff;
}


.enter {
 display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.enter a{
width: 30%;
text-decoration: none;
background: #000;
color: #fff;
border-radius: 60px;
text-align: center;
padding: 2%;
}

.Clear {
  border-radius: 10px;
  
  font-size: large;
  width: 90%; 
  max-height: 90%;
  margin: 1rem;
  box-shadow: 0 0 7px #333;
}

h4{
  background-color: #006d77;
  font-size: larger;
  border-radius:10px ;
  max-width: 900px;
  color: #fff;
}
li{
  padding: 0.5rem;
  margin-left: 10%;

}

