@media (min-width: 40em) {
    
  header{
    max-width: 80%;
  }
   
   h2{
    margin-left: 15%;
  
   }
   h3{
    margin-top: 1rem;
   }
    .menu {
          display: none;
    }
  
    
  
    .grid {
      display:grid; 
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr )); 
      place-items: center;
      max-width: 400%;
    
     }
   
  
   
}